Package: luci-wrtbwmon
Version: 0.5.1
Architecture: all
Maintainer: Georgios Tzourmpakis <kiougar@gmail.com>
Section: net
Priority: optional
Description: A Luci module that uses wrtbwmon to track bandwidth usage.
Source: https://github.com/Kiougar/luci-wrtbwmon
